{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify %}

{% block extrahead %}
  {{ block.super }}
  {% if diagnostico_quickfill %}
    {{ diagnostico_quickfill|json_script:"diagnostico-quickfill" }}
  {% endif %}
{% endblock %}

{% block field_sets %}
  {% for fieldset in adminform %}
    {% if fieldset.name != "Perfil" %}
      {% include "admin/includes/fieldset.html" %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block inline_field_sets %}
  {{ block.super }}
{% endblock %}
